body{
  background-color: #f9f9fb;
  margin: 0;
}

a {
  text-decoration: none; /* 去除默认的下划线 */
  outline: none; /* 去除旧版浏览器的点击后的外虚线框 */
  color: #000; /* 去除默认的颜色和点击后变化的颜色 */
  }

li{
  list-style-type:none;
}


@media (min-width:1120px) {

  .mobile{
    display: none;
  }

.nav-open{
  display: none;
}

.lazy-2{
  display: none;
}

@keyframes movefromleft {
  from {
      opacity: 0;
      transform: translateX(-150px);
  }

  to {
      opacity: 1;
      transform: translateX(35%);
  }
}

@keyframes movefromlefts {
  from {
      opacity: 0;
      transform: translateX(150px);
  }

  to {
      opacity: 1;
      transform: translateX(-150%);
  }
}
}


.active{
  border-bottom: 2px solid red;
  padding-bottom: 8px;
}

@keyframes movefromleft {
  from {
      opacity: 0;
      transform: translateX(-150px);
  }

  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes movefromlefts {
  from {
      opacity: 0;
      transform: translateX(150px);
  }

  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes lazys {
  from {
      opacity: 0;
      transform: translateY(40px);
  }

  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.viewBox{
  width: 65%;
  margin: 0 auto;
}

.vertical{
  height: 60px;
  display: inline-block;
  border-right: solid #e8e8e9 1px;
}

nav{
  width: 100%;
  height: 60px;
  background-color: rgba(0,0,0,0.7);
	position: sticky;
	top:0;
  z-index: 99;
}

.log-left > div{
  display: flex;
}

.log-left > div p{
  margin-right: 15px;
}

#nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav img{
  width: 165px;
  height: 50px;
  margin-top: 5px;
}

#nav img:hover{
  cursor: pointer;
}

.navs{
  display: flex;
}

.navs p{
  color: #fff;
  margin-right: 40px;
}

.navs p:hover{
  cursor: pointer;
}

.banner > div h2{
  font-size: 66px;
  margin: 130px 0 0 0;
  color: #333333;
  text-align: center;
}

.banner > p{
  font-size: 20px;
  margin-top: 70px;
  text-align: center;
}

.img-download{
  width: 267px;
  margin: 0 auto;
}

.img-download img{
  height: 60px;
}

.img-download img:hover{
  cursor: pointer;
}

.banner-img img{
  margin-top: 110px;
  width: 100%;
  height: 146px;
}

.animateItem{
  margin-top: 200px;
  position: relative;
}

#img-left{
  width: 70%;
  animation: movefromleft 1.5s;
  animation-fill-mode: forwards;
}

#img-right {
  position: absolute;
  bottom: 40px;
  right: 0;
  animation: movefromlefts 1.5s;
  animation-fill-mode: forwards;
}

.part2{
  margin-top: 225px;
}

.real p {
  color: #000;
}

.part3{
  margin-top: 125px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding: 130px 0 ;
  box-sizing: border-box;
}

.part3 > .viewBox  h2{
  font-size: 50px;
}

.part3 > .viewBox  h2{
  animation: lazys 1.5s;
  animation-fill-mode: forwards;
}


.part3 > .viewBox  p{
  font-size: 24px;
  color: #666;
  animation: lazys 1.5s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

.lazy{
  margin-top:80px;
}

.lazy > img{
  width: 100%;
  height: 110px;
  animation: lazys 1.5s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

.viscosity1{
  width: 100%;
  height: 900px;
  background-color: #edf0ff;
  position: sticky;
	top:0;
}

.viscosity2{
  width: 100%;
  height: 900px;
  background-color: #eaf9ff;
  position: sticky;
	top:0;
}

.viscosity3{
  width: 100%;
  height: 900px;
  background-color: #f8f2ff;
  position: sticky;
	top:0;
  left: 0;
}

.viscosity > .viewBox > p {
  margin: 0;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  padding: 130px 0 120px 0;
  box-sizing: border-box;
}

.viscosity > .viewBox img{
  width: 100%;
}

.clearfix{
  display: flex;
  justify-content: space-between;
}

.item{
  display: flex;
  justify-content: space-between;
}

.item > div{
  width: 515px;
}

.left  p:first-child{
  font-size: 20px;
  font-weight: 700;
}

.part6{
  margin: 100px 0 150px 0;
  height: 493px;
  box-sizing: border-box;
}
.part6 > .viewBox h2{
  text-align: center;
  font-size: 50px;
}

.items{
  display: flex;
}

.items .real{
  width: 33.3%;
  height: 350px;
  padding: 50px 20px;
  background-color: #fff;
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  box-sizing: border-box;
  transition: all .3s;
}

.items .real:nth-child(1){
  background:url('http://www.jide.com/images/banshu/part6_bg1.jpg');

}

.items .real:nth-child(2){
  margin: 0 20px;
  background: url('http://www.jide.com/images/banshu/part6_bg2.jpg');
}

.items .real:nth-child(3){
  background:url('http://www.jide.com/images/banshu/part6_bg3.jpg') ;

}


.items .real:hover{
  cursor: pointer;
}

.items > .item1:hover{
  width: 150%;
  transition: all .3s;

}
.items > .item2:hover{
  width: 150%;
  transition: all .3s;
}
.items > .item3:hover{
  width: 150%;
  transition: all .3s;
}

.items .real img {
  width: 115px;
  height: 110px;
  margin-left: 36px;
}

.items .real p:first-child{
  font-size: 26px;
  font-weight: 700;
}

.part7{
  text-align: center;
  height: 600px;
  background-color: #ffff;
  padding: 120px 0;
  box-sizing: border-box;
}

.part7  img{
  width: 191px;
  height: 46px;
}

.part7 h2{
  font-size: 50px;
  animation: lazys 1.5s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

.part7 p{
  font-size: 20px;
  margin-bottom: 42px;
  animation: lazys 1.5s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

.part7 a img{
  animation: lazys 1.5s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.footer{
  height: 458px;
  background-color: #3e3a39;
}

.footer .viewBox{
  display: flex;
  justify-content: space-between;
}

.footer-left{
  display: flex;
  margin-top: 50px;
}

.footer-left a{
  color: #fff;
  font-size: 16px;
}

.footer-left div:first-child{
  margin-right: 100px;
}

.footer-left h4{
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 40px;
}

.copy-lefr{
  color: #fff;
  font-size: 16px;
  margin-top: 50px;
}

.footer-right{
  margin-top: 50px;
  color: #fff;
}

.left-swiper{
  width: 375px;
  height: 100%;
  background-color: pink;
}

.part2 > h2 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 95px;
}

.swiper-content{
  display:flex;
}

.swiper{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.box {
  width: 810px;
  height: 540px;
}

.box img {
  width: 740px;
  height: 480px;
}

ul li {
  position: absolute;
  opacity: 0;
  transition: 1s;
}

ul li:first-child {
  opacity: 1;
}

.right-1 {
  right: 0px;
  display: none;
}

.left-2 {
  left: 0px;
  display: none;
}

ol {
  position: absolute;
  left: 50%;
  z-index: 999;
  transform: translateX(-50%);
  bottom: 5px;
}

.current {
  float: left;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: blue;
  margin-right: 10px;
  opacity: 0.5;
}

.white {
  width: 35px;
  height: 10px;
  background-color: blue;
}

@media (max-width: 1120px) {

  .viscosity1{
    height: 100%;
  }

  .clearfix,.item{
    display: block;
    height: 100%;
  }

  .pc{
    display: none;
  }

  .lazy-1{
    display: none;
  }

  .lazy img{
    height: 100%;
  }

  @keyframes movefromleft {
    from {
        opacity: 0;
        transform: translateX(-150px);
    }
  
    to {
        opacity: 1;
        transform: translateX(35%);
    }
  }
  
  @keyframes movefromlefts {
    from {
        opacity: 0;
        transform: translateX(150px);
    }
  
    to {
        opacity: 1;
        transform: translateX(-150%);
    }
  }
  .viewBox{
    width: 100%;
    margin: 0 auto;
    /* padding: 0 20px; */
  }
  
  nav{
    width: 100%;
    height: 59px;
    background-color: rgba(0,0,0,0.7);
    padding: 0 20px;
  }

  .navs{
    display: none;
  }

  #img-left img{
    width: 212px;
  }

  #img-right img{
    width: 189px;
  }

  .swiper-content{
    display: block;
  }
}