  body{
    background-color: #f9f9fb;
    margin: 0;
  }

a {
  text-decoration: none; /* 去除默认的下划线 */
  outline: none; /* 去除旧版浏览器的点击后的外虚线框 */
  color: #000; /* 去除默认的颜色和点击后变化的颜色 */
  }

li{
  list-style-type:none;
}


@media (min-width:1120px) {

  @keyframes animate{
    from {
   	  height: 0px;
    	top : 400px;
    }
}

.clearfix img{
  width: 100%;
}

.part3 > div > .viewBox > div > h2{
  font-size: 45px;
  line-height: 75px;
  margin-bottom: 50px;
  animation: lazys 1.5s;
  animation-fill-mode: forwards;
}

  .active-2{
    width: 357px;
    height: 277px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px 50px 20px 20px;
    margin: 25px 0;
    box-shadow:0 0 12px 3px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    animation: animate  .8s;
    overflow: hidden;
  }

  .navs-item{
    margin: 10px 0;
    font-weight: 700;
  }

  .navs-item span{
    cursor: pointer;
  }

  .real h3{
    color: #002fa7;
  }

  .none{
    display: none;
  }

  ol{
    display: none;
  }

  .lazy-1 img{
    width: 100%;
  }

@keyframes movefromleft {
  from {
      opacity: 0;
      transform: translateX(-150px);
  }

  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes movefromlefts {
  from {
      opacity: 0;
      transform: translateX(150px);
  }

  to {
      opacity: 1;
      transform: translateX(0);
  }
}
}


.active{
  border-bottom: 2px solid red;
  padding-bottom: 8px;
}

@keyframes lazys {
  from {
      opacity: 0;
      transform: translateY(40px);
  }

  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.viewBox{
  width: 65%;
  margin: 0 auto;
}

.vertical{
  height: 60px;
  display: inline-block;
  border-right: solid #e8e8e9 1px;
}

nav{
  width: 100%;
  height: 60px;
  background-color: rgba(0,0,0,0.7);
	position: sticky;
	top:0;
  z-index: 99;
}

.log-left > div{
  display: flex;
}

.log-left > div p{
  margin-right: 15px;
}

#nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav img{
  height: 50px;
  margin-top: 5px;
}

#nav img:hover{
  cursor: pointer;
}

.navs{
  display: flex;
}

.navs p{
  color: #fff;
  margin-right: 40px;
}

.navs p:hover{
  cursor: pointer;
}

.banner > div h2{
  font-size: 66px;
  margin: 130px 0 0 0;
  color: #333333;
  text-align: center;
}

.banner > p{
  font-size: 20px;
  margin: 70px 0 40px 0;
  text-align: center;
}

.img-download{
  width: 267px;
  margin: 0 auto;
}

.img-download img{
  height: 60px;
}

.img-download img:hover{
  cursor: pointer;
}

.banner-img img{
  margin-top: 110px;
  width: 100%;
  height: 146px;
}

.animateItem{
  margin-top: 200px;
  width: 1200px;
}

#img-left{
  width: 70%;
  animation: movefromleft 1.5s;
  animation-fill-mode: forwards;
}

#img-right {
  position: absolute;
  bottom: 40px;
  right: 0;
  animation: movefromlefts 1.5s;
  animation-fill-mode: forwards;
}

.part2{
  margin-top: 225px;
  padding-bottom:160px;
}

.real p {
  color: #000;
}

.part3{
  background-color: #fff;
  text-align: center;
  padding: 130px 0 ;
}

.part3 img{
  width: 100%;
  animation: lazys 1.5s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}


.part3 > div > .viewBox  p{
  font-size: 24px;
  color: #666;
  animation: lazys 1.5s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

.lazy{
  margin-top:80px;
}

.pc-imgx  > img{
  width: 100%;
  height: 110px;
  animation: lazys 1.5s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

.viscosity1{
  width: 100%;
  height: 900px;
  position: sticky;
	top:0;
  background-color: #edf0ff;
}

.viscosity2{
  width: 100%;
  height: 900px;
  position: sticky;
	top:0;
  background-color: #eaf9ff;
}

.viscosity3{
  width: 100%;
  height: 900px;
  position: sticky;
	top:0;
  background-color: #f8f2ff;
}

.viscosity > .viewBox > p {
  margin: 0;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  padding: 130px 0 120px 0;
  box-sizing: border-box;
}

.viscosity > .viewBox  img{
  width: 100%;
}

.clearfix{
  display: flex;
  justify-content: space-between;
}

.item{
  display: flex;
  justify-content: space-between;
}

.item > div{
  width: 515px;
}

.left  p:first-child{
  font-size: 20px;
  font-weight: 700;
}

.part6{
  margin: 100px 0 150px 0;
  height: 493px;
  box-sizing: border-box;
}
.part6 > .viewBox h2{
  text-align: center;
  font-size: 50px;
}

.items{
  display: flex;
}

.items .real{
  width: 33.3%;
  height: 350px;
  padding: 50px 20px;
  background-color: #fff;
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  box-sizing: border-box;
  transition: all .3s;
}

.items .real:nth-child(1){
  background:url('http://www.jide.com/images/banshu/part6_bg1.jpg');

}

.items .real:nth-child(2){
  margin: 0 20px;
  background: url('http://www.jide.com/images/banshu/part6_bg2.jpg');
}

.items .real:nth-child(3){
  background:url('http://www.jide.com/images/banshu/part6_bg3.jpg') ;
}


.items .real:hover{
  cursor: pointer;
}

.items > .item1:hover{
  width: 60%;
  transition: all .3s;

}
.items > .item2:hover{
  width: 60%;
  transition: all .3s;
}
.items > .item3:hover{
  width: 60%;
  transition: all .3s;
}

.items .real img {
  width: 115px;
  height: 110px;
  margin-left: 36px;
}

.items .real p:first-child{
  font-size: 26px;
  font-weight: 700;
}

.part7{
  text-align: center;
  height: 600px;
  background-color: #ffff;
  padding: 120px 0;
  box-sizing: border-box;
}

.part7  img{
  width: 191px;
  height: 46px;
}

.part7 h2{
  font-size: 50px;
  animation: lazys 1.5s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

.part7 p{
  font-size: 20px;
  margin-bottom: 42px;
  animation: lazys 1.5s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

.part7 a img{
  animation: lazys 1.5s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.footer{
  height: 458px;
  background-color: #3e3a39;
}

.footer .viewBox{
  display: flex;
  justify-content: space-between;
}

.footer-left{
  display: flex;
  margin-top: 50px;
}

.footer-left a{
  color: #fff;
  font-size: 16px;
}

.footer-left div:first-child{
  margin-right: 100px;
}

.footer-left h4{
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 40px;
}

.copy-lefr{
  color: #fff;
  font-size: 16px;
  margin-top: 50px;
}

.footer-right{
  margin-top: 50px;
  color: #fff;
}

.part2 > h2 {
  text-align: center;
  font-size: 46px;
  margin-bottom: 150px;
}

.swiper-content{
  display:flex;
}

ul li{
  position: absolute;
  opacity: 0;
  transition: 1s;
}

ul li:first-child {
  opacity: 1;
}

.right-1 {
  right: 0px;
  display: none;
}

.left-2 {
  left: 0px;
  display: none;
}

.current {
  float: left;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: blue;
  margin-right: 10px;
  opacity: 0.5;
}

.white {
  width: 35px;
  height: 5px;
  background-color: blue;
  border-radius: 0;
}

@media (max-width: 1120px) {
  body{
    background-color: #fff;
    box-sizing: border-box;
  }

  .mask{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 999999;
    background-color: #000;
    padding: 0 10px 0 20px;
    box-sizing: border-box;
    display: none;
    animation: takemask .6s;
  }

  .mask-logimg{
    width: 120px;
  }

  .mask-open {
    height: 50px;
  }

  .mobile-imgs{
    height: 50px;
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content:space-between;
  }

  .mask-bottom{
    color: #fff;
    border-bottom: solid 1px #2a2a2a;
    padding: 0 30px;
    overflow: hidden;
  }

  .meun{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .top-meuns a{
    color: #fff;
    display: block;
    margin: 15px 0;
  }

  .subnav_item{
    display: none;
  }
  
  .viscosity1,.viscosity2,.viscosity3{
    background-color: rgba(0,0,0,0);
  }

  .part3 > div > .viewBox p{
    font-size: 18px;
  }

  .clearfix ,.item{
    /* padding: 0 20px; */
  }
  
  #nav img{
    margin: 0;
  }

  @keyframes takemask{
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes mask{
    0%{opacity: 0;}
    100%{opacity: 1;}
  }

  @keyframes movefromleft {
    from {
        opacity: 0;
        transform: translateX(-150px);
    }
  
    to {
        opacity: 1;
        transform: translateX(20px);
    }
  }
  
  @keyframes movefromlefts {
    from {
        opacity: 0;
        transform: translateX(150px);
    }
  
    to {
        opacity: 1;
        transform: translateX(-20px);
    }
  }

  #img-left{
    width: 70%;
    animation: movefromleft 1.5s;
    animation-fill-mode: forwards;
  }
  
  #img-right {
    position: absolute;
    bottom: 40px;
    right: 0;
    animation: movefromlefts 1.5s;
    animation-fill-mode: forwards;
  }

  .item{
    width: 375px;
  }

  .part2{
    margin-top: 70px;
    position: relative;
    height: 395px;
  }

  .part2 > h2 {
    text-align: center;
    font-size:20px;
    margin: 0;
  }
  


  ul li{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: 1s;
  }

  .lazy-1{
    display: none;
  }

  .footer-left div:first-child{
    margin: 0;
  }

  .detail div{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
  }

  .detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-left h4{
    margin: 20px 0;
  }

  .lines{
    border-bottom: 2px solid #fff;
  }

  .wrapper{
    /* padding: 5px 20px; */
  }

  .footer{
    display: none;
  }
  
  .footer-2{
    background-color: #3e3a39;
  }

  .footer-left{
    display: block;
    margin-top: 10px;

  }

  .part7 a img{
    width:115px ;
    height: 28px;
  }

  .box-part7{
    width: 70%;
    margin: 0 auto;
  }

  .part7 p{
    font-size: 12px;
  }

  .part7 h2{
    font-size: 22px;
  }

  .items-2{
    width: 100%;
    border-radius: 20px;
  }

  .viewBox .items-2:nth-child(3){
    margin: 20px 0;
  }

  .box-img{
    margin-right: 15px;
  }

  .real-img{
    width: 100%;
  }
  .real{
    /* padding: 0 20px; */
    align-items: center;
  }

  .real-2{
    display: flex;
    /* padding: 0 20px; */
    align-items: center;
  }

  .real > div > p:nth-child(1){
    font-weight: 700;
  }

  .items{
    display: none;
  }

  .part7{
    padding: 0;
    height: 100%;
    margin-bottom: 50px;

  }

  .part6{
    /* padding: 0 20px; */
    margin:0;
  }

  .part6 > .viewBox h2{
    font-size: 22px;
  }

  .pc-img{
    display:none;
  }

  .mobile-img img{
    margin: -50px 0 50px 0;
    width: 90%;
    animation: lazys 1.5s;
    animation-delay: 0.15s;
  }

  .mobile-img-2 img{
    margin-bottom: 50px;
    width: 90%;
    animation: lazys 1.5s;
    animation-delay: 0.15s;
  }

  .left p:first-child{
    font-size: 12px;
  }

  .viscosity > .viewBox > p{
    padding: 30px 0 20px 0;
    font-size: 20px;
  }

  .lazy > img{
    width: 80%;
  }

  .part3{
    margin: 0;
    padding: 0 20px;
  }

  .part3 > .viewBox h2  {
    font-size: 20px;
  }

  .part3 > .viewBox p {
    font-size: 16px;
  }

  .animateItem{
    width: 100%;
    margin-top: 30px;
  }
  
  .banner-img img{
    height: 100%;
    margin-top: 80px;
  }

  .img-download{
    position: relative;
  }

  .img-download img{
    height: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  .banner > p{
    font-size: 15px;
    margin: 20px 0;
  }

  .banner > div h2{
    font-size: 28px;
    margin-top: 70px;
  }

  #nav > img{
    width: 30%;
    height: 35px;
    margin-top: -7px;
    /* padding: 0 20px; */

  }

  .box{
    width: 100%;
    height:10px;
  }

  .box img{
    width: 80%;
    height: 100%;
    /* padding: 0 20px; */
  }

  .viscosity1{
    height: 100%;
  }

  .viscosity{
    padding-bottom:55px;
  }

  .viscosity > .viewBox img {
    width: 85%;
}

  .clearfix,.item{
    display: block;
    height: 100%;
  }

  .item > img{
    width: 100%;
  }

  .pc{
    display: none;
  }

  .lazy img{
    height: 100%;
  }

  .viewBox{
    width: 100%;
    margin: 0 auto;
  }
  
  nav{
    position: static;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.7);
  }

  .navs{
    display: none;
  }

  #img-left img{
    width: 212px;
  }

  #img-right img{
    position: relative;
    width: 189px;
  }

  .swiper-content{
    display: block;
  }
} 